:root {
  --light: #f9faff;
  --dark: #1e1e1f;
  --gray: #393939;
  --primary: #cee0f4;
  --secondary: #a7c1e1;
  --tertiary: #84a1c4;
  --additional: #fafaf7;
  --additional-dark: #607b9b;
  --golden: #aa9e1b76;

  --names-font: "Style Script", cursive;
  --titles-font: 'Libre Baskerville', serif;
  --main-font: 'Lora', serif;

  --phone: 480px;
  --tablet: 768px;
  --desktop: 992px;
  --desktopXL: 1200px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
  color: var(--gray);
  background-color: var(--light);
  line-height: 1;
}

h1,
.cursive {
  font-size: 6.5rem;
  font-family: var(--names-font);
  color: var(--tertiary);
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
}

h2,
h3,
h4,
h5 {
  font-family: var(--titles-font);
}

a {
  text-decoration: none;
  color: var(--additional-dark);
}

/* Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.bold {
  font-weight: 700;
}

.color-dark {
  color: var(--dark);
}

.big-font {
  font-size: larger;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

.paragraph {
  line-height: 1.4;
}

.jump-line {
  margin-bottom: 5rem;
}

.min-jump-line {
  margin-bottom: 2rem;
}

.icon-title {
  margin-bottom: 1.2rem;
}

.lock-body {
  overflow: hidden;
}

/* Header */
h1 span,
p span {
  display: block;
  color: var(--dark);
}

header p {
  padding: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }

  h1 span {
    display: inline;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 13rem;
    padding: 5rem 0;
  }

  .hdn {
    display: none;
  }
}

/* Content */
.separator {
  border: 0;
  height: 0.15rem;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--golden),
    rgba(0, 0, 0, 0)
  );
  text-align: center;
  margin: 4rem;
}

.separator:after {
  content: "❁";
  display: inline-block;
  position: relative;
  top: -0.7rem;
  font-size: 2rem;
  padding: 0 0.25rem;
  background: var(--light);
  color: var(--golden);
}

main .separator {
  margin: 4rem 0 3rem 0;
}

.flower-separator {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .separator {
    height: 0.2rem;
  }

  main h3 {
    font-size: 3rem;
  }

  .flower-separator {
    width: 40%;
    display: block;
    margin: auto;
  }
}

/* Navegation */
.nav {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5rem;
  text-align: center;
  align-items: center;
}

.nav a {
  border-left: 1px var(--gray) dotted;
}

.nav a:first-of-type {
  grid-column: 1 / 4;
  border-bottom: 1px var(--gray) dotted;
  border-left: 0;
  padding-bottom: 1rem;
}

.nav a:nth-of-type(3n-1) {
  border-left: 0;
}

@media (min-width: 992px) {
  .nav {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
  }

  .nav a:first-of-type {
    grid-column: 1;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .nav a:nth-of-type(3n-1) {
    border-left: 1px var(--gray) dotted;
  }
  .nav a {
    padding: 0.5rem;
    font-size: 1.9rem;
  }
}

/* .nav {
  text-align: center;
  font-family: var(--titles-font);
  margin: 1rem 0;
}

.nav a {
  display: block;
  padding-bottom: 1.5rem;
}

.nav a:last-of-type {
  padding-bottom: 0;
} */

/* Day counter */
.day-counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 992px) {
  .calendar {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .big-day {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .big-day__group--down {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .big-day__group--down h3 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .big-day__group--down p {
    margin: 0;
  }

  .big-day__group--center {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .big-day__group--center img {
    margin: 0.5rem auto 0 auto;
    width: 90%;
  }

  .big-day picture {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto 0;
  }

  .calendar {
    width: 100%;
  }
}

/* Date */
.parents {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
}

.parents__names {
  color: var(--additional-dark);
}

.parents__names img {
  width: 20%;
}

@media (min-width: 768px) {
  .parents {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .parents__names {
    display: flex;
    flex-direction: column;
  }

  .parents__names .color-dark {
    margin-bottom: 0;
  }

  .parents__names img {
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .parents__names .big-font span {
    display: inline;
    margin: 0 1rem;
  }

  .parents__names img {
    width: auto
  }
}

/* Location */
.wedding-time span {
  display: inline;
  font-weight: 700;
}

.location__info {
  display: grid;
}

@media (min-width: 768px) {
  .location__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }
}

/* Album */
.album__legend {
  font-style: italic;
  line-height: 1.8;
}

.album__legend span {
  font-style: normal;
  font-size: smaller;
}

.album__photos {
  display: grid;
  gap: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .album__photos {
    width: 80%;
    margin: 0 auto 2rem auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .album__photos--location {
    grid-template-rows: repeat(2, 1fr);
  }

  #location-photo-1 {
    grid-row: 1 / 3;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #location-photo-1 img {
    visibility: hidden;
  }

  #location-photo-2 img,
  #location-photo-3 img {
    display: flex;
  }

  #galery-photo-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-image: url(../img/4.jpeg);
  }

  #galery-photo-3 {
    background-image: url(../img/6.jpg);
  }

  #galery-photo-1, #galery-photo-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #galery-photo-1 img, #galery-photo-3 img{
    visibility: hidden;
  }


  .album__photos--galery {
    grid-template-rows: repeat(3, 1fr);
  }

  .album__photo--galery {
    display: flex;
  }

  .album__photo--galery img {
    object-fit: cover;
  }
}

/* Hotel app */
.hotel-app {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .hotel-app {
    justify-content: center;
    gap: 2.5rem;
  }
}

/* Footer */
.footer {
  background-color: var(--secondary);
  padding-top: 1rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav a {
  color: var(--light);
}

.footer__nav--list {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
  border-top: 1px dotted var(--light);
}
/* 
.footer__nav a:first-of-type {
  display: block;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted var(--light);
} */

.github {
  background-color: var(--tertiary);
  text-align: end;
  margin-top: 0.5rem;
  padding-top: 1rem;
}

.github__link {
  display: contents;
}

/* Buttons */
.btns {
  display: grid;
  gap: 1.2rem;
}

.btn-wbg {
  background-color: var(--tertiary);
  color: var(--light);
  text-transform: uppercase;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
}

.btn-nobg {
  padding: 1rem;
  border: 1px solid var(--tertiary);
  border-radius: 3px;
  color: var(--tertiary);
  background-color: var(--light);
  cursor: pointer;
}

@media (min-width: 768px) {
  .btns a,
  .btns button {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .btns a,
  .btns button {
    width: 40%;
  }
}

.close-btn {
  display: inline-block;
  text-transform: uppercase;
  color: var(--dark);
  cursor: pointer;
}

.floating-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #25252573;
  border: none;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

/* Modals */
.overlay {
  background-color: rgba(37, 37, 37, 0.675);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  position: fixed;
}

.modal {
  background-color: var(--light);
  width: 90%;
  padding: 2rem;
  text-align: end;
}

.modal-IMG {
  background-color: rgba(37, 37, 37, 0);
  margin: 2rem;
  text-align: end;
}

@media (min-width: 992px) {
  .modal{
    width: 60%;
  }
}

/* Animations */
.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.animate {
  opacity: 0;
  transition: 0.5s ease-in 0.1s;

  --opacity: 1;
}

.unset {
  opacity: var(--opacity);
}

/* mq hidden */
.hide {
  display: none;
}

@media (min-width: 992px) {
  .hide {
    display: block;
  }

  main section {
    margin-top: 12rem;
  }
}
